/* style table */
body {
    background-color: rgb(241, 241, 241);
}
.devise {

    padding-top: 5rem;
    width: 100vw;
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: rgb(241, 241, 241);
    font-family: "Montserrat", sans-serif;
}

.title {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.title h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 10rem;
}
.cour{
 display: relative;
    height: 100%;
    width:100%;
    /* flex-direction: row; */
    
}
.best_devise {
    width: 30%; 
    height: 50%;
    margin: 10px;
    border: 2px solid #44b478;
    position: sticky;
    top: 0px;
    
}h2{
    padding: 2rem;
    font-size: 20px;
    text-align: center;
   
    color:  #0e0e0e;
    
}
.convertir{
    margin: 2rem;
    text-align: center;
    border: 2px solid #dddddd;
    box-shadow: 0px 0px 10px grey;

}
.conv{
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.conv input {
    width: 45%;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    background-color:#f8fbf9;
    color: #0e0e0e;
}

.conv img{
    height: 40px;
    width: 40px;
    margin: 2rem;

}
.conv button{

    cursor: pointer;
}
.conv img:hover{
   
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #44b478;
    transform: rotate(360deg);
}
.boxed{
    margin: 2rem;
    text-align: center;
    border: 2px solid #dddddd;
    box-shadow: 0px 0px 5px grey;
}
.boxed img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
    margin: 2rem;
}
.boxed h3 ,h4{
    display: inline;
    /* padding: 0.5rem; */
    margin-top: 1rem;
}
.vente{
    padding: 1rem;
    margin:15px;
    background-color:#f8fbf9; 
    color: #0e0e0e;
    font-size: 15px;
}

.achat{
    background-color:#f8fbf9; 
    padding: 1rem;
    margin:15px;
    color: #0e0e0e;
    font-size: 15px;
}
table {
    margin:10px;
    width: 70%;
    border: 2px solid #44b478;
    border-collapse: collapse;
}

.header_fixed {
    display: flex;
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: #090909;
    color: #e6e7e8;
    font-size: 15px;
}

th {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
   
}
td{
    border-bottom: 1px solid #dddddd;
    font-size: 14px;  
}

td img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

tr:hover td {
    color: #44b478;
    cursor: pointer;
    background-color: #ffffff;
}

td a {
    border: none;
    padding: 7px 10px;
    border-radius: 20px;
    background-color: black;
    color: #e6e7e8;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow:  0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow:  0 0 6px rgba(0, 0, 0, 0.3);
}
.bank {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}h6{
color: white;
}
.bank a{
    margin-bottom:10px;
}
.bank img {
    margin: 1rem;
}
.imgdivise{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}
.imgdivise h4 {
    text-align: center;
    font-size: 1.5rem;


}
.imgdivise img {
 margin-left: 10%;
}
.attantion{
    margin: 5rem;
    margin-left: 25%;
    height: 50%;
    width: 50%;
    background-color: rgb(241, 241, 241);
    font-family: "Montserrat", sans-serif;

}
.attantion p{
    
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    color: red !important;
}