@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

#Contact .contact {
    background-color: #27ae60;
}

.container {
    display: flex;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}


/*section {
    padding: 2rem 9%;
}*/


/*header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    justify-content: space-around;
    z-index: 100000;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #192a56;
}

header .logo i {
    color: #27ae60;
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo span {
    color: rgb(36, 35, 35);
}

header .navbar a {
    padding: .5rem 1.5rem;
    color: #666;
    font-size: 1.7rem;
    border-radius: .5rem;
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background-color: #27ae60;
}

header .icons a {
    cursor: pointer;
    color: #192a56;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    font-size: 1.7rem;
    text-align: center;
    background-color: #eee;
    line-height: 4.5rem;
}

header .icons a:hover {
    color: #eee;
    background-color: #27ae60;
    transform: rotate(360deg);
}

.input_container {
    border-radius: 10px;
    border: 1px solid #27ae60;
    padding: 2px;
}


/*End header*/


/*Style */

.Cour_dechange {
    display: flex;
    width: 50%;
    height: 100%;
    padding: 50px;
    border: 1px solid red;
    margin: auto;
    padding: 15rem;
}

.content_desc {
    margin: 50%;
}

.content_flags {
    top: 15px;
    align-items: center;
}

.flag {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 50px;
}

.flag:hover {
    border: 2px solid #777;
}

div.flag img {
    width: 100%;
    height: auto;
}

div.flag desc {
    padding: 15px;
    text-align: center;
}


/* style table */

table {
    width: 100%;
    border-collapse: collapse;
}

.header_fixed {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.header_fixed thead th {
    position: static;
    top: 0;
    background-color: #27ae60;
    color: #e6e7e8;
    font-size: 15px;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}

td img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

tr:hover td {
    color: #44b478;
    cursor: pointer;
    background-color: #ffffff;
}

td form input {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #e6e7e8;
    cursor: pointer;
}


/*Cantact us*/

.contact {
    padding-top: 15rem;
}

.contact form {
    height: 50%;
    width: 50%;
    padding: 30px;
    background-color: hsla(0, 35%, 93%, 0.705);
    border-radius: 10px;
    position: relative;
    left: 360px;
    margin-bottom: 50px;
    box-shadow: 5px 10px 8px 10px #888888;
}

form h1 {
    font-size: 20px;
    text-align: center;
}

form .separation {
    width: 100%;
    height: 1px;
    background-color: #27ae60;
}

form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

form .corps-formulaire .groupe {
    position: relative;
    /* Pour mettre positionner l’élément dans le flux normal de la page */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form .corps-formulaire .gauche .groupe input {
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius: 5px;
}

form .corps-formulaire .gauche .groupe i {
    position: absolute;
    /* positionné par rapport à son parent le plus proche positionné */
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: #27ae60;
}

form .corps-formulaire .droite {
    margin-left: 40px;
}

form .corps-formulaire .droite .groupe {
    height: 100%;
    width: 100%;
}

form .corps-formulaire .droite .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 2px solid #27ae60;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
}

form .pied-formulaire button {
    margin-top: 10px;
    background-color: #27ae60;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
    /*align-items: center;*/
}

form .pied-formulaire button:hover {
    transform: scale(1.05);
}


/* end Cantact us*/


/*footer*/

footer {
    width: 100%;
    height: 20%;
    background-color: #111;
    font-family: " open sans";
    /* padding-top: 40px; */
    position: relative;
    color: #fff;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-container h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-container p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.social a img {
    filter: grayscale(1);
}

.social a:hover img {
    filter: grayscale(0);
}

.footer-bottom {
    background-color: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}


/*end footer*/


/*registrton*/

#logreg {
    padding-top: 12rem;
    padding-bottom: 10rem;
    position: relative;
    left: 45rem;
}

.logincontainer {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}

.logincontainer .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}

.logincontainer .form {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.logincontainer.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.logincontainer .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.logincontainer.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.logincontainer.active .forms {
    height: 600px;
}

.logincontainer .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #27ae60;
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus,
 :valid) {
    border-bottom-color: #27ae60;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus,
 :valid)~i {
    color: #27ae60;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin: 0 8px -2px 4px;
    accent-color: #27ae60;
}

.form .text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    color: #27ae60;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #27ae60;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #27ae60;
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}


/*registrton*/

@media(max-width:620px) {
    .contact-address {
        flex-direction: column;
    }
}

@media(max-width:500px) {
    .contact-form .container {
        width: 90%;
    }
    .contact-form .container div {
        flex-direction: column;
    }
    .contact-form .container div:nth-child(1) span {
        width: 100%;
        margin-top: 20px;
    }
}