<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../s2.css">
    <title>Bureaux de change</title>
</head>

<body>
    <!-- header section starts      -->
    <header>
        <a href="./index.html" class="logo"><span><img src=../images/forex.png></span></a>

        <nav class="navbar">
            <a href="./Courdechange.html">Devises</a>
            <a href="./Banques.html">Banques</a>
            <a href="./Change.html"> Bureaux de change</a>
            <a href="./devisenocerculer.html">Devises non circulees</a>
            <a href="./Faq.html">Faq</a>
            <a href="./Contact.html">Nous Contact</a>
            <a href="./Compte.html">Mon Compte</a>
        </nav>
        <div class="icons">
            <!-- <i class="fas fa-bars" id="menu-bars"></i> -->
            <div class="input_container">
                <input type="text" placeholder="Search" color="#eeeee4" />
                <a class="fas fa-search" id="search-icon"></a>
            </div>

        </div>
    </header>
    <div class="containertitle">
        <div class="title">
            <h1>Bureaux de change agréés par la banque centrale</h1>
        </div>
    </div>

</body>

</html>