@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Oswald&family=Roboto:wght@100;300;400;500;700&family=Sen:wght@400;700;800&display=swap');
.containertitle{
    padding-top: 15rem;
    height: 100%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;

}
.containertitle .title h1{
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 700;
}