<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/s3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Banque</title>
    <link rel="icon shortcut" type="icon" href="../images/forex.png" />
</head>

<body>
    <!-- header section starts      -->
    <header>
        <a href="/" class="logo"><span><img src=../images/forex.png></span></a>

        <nav class="navbar">

            <a href="./Banque">Banques</a>
            <a href="./Change.html"> Bureaux de change</a>
            <a href="./Faq.html">Faq</a>
            <a href="./Contact.html">Nous Contact</a>
            <a href="./Compte.html">Mon Compte</a>
        </nav>
        <div class="icons">
            <!-- <i class="fas fa-bars" id="menu-bars"></i> -->
            <div class="input_container">
                <input type="text" placeholder="Search" color="#eeeee4" />
                <a class="fas fa-search" id="search-icon"></a>
            </div>

        </div>
    </header>
    <section class="list_banque">
        <div class="content_desc">
            <h1>Cours de devises des banques en Tunisie</h1>
        </div>

        <div class="content_flags">
            <% allResults.forEach(function(result) {%>
            <div class="flag">
                <a href="">
                    <img src="<%= result.img %> " alt="helloword">
                    <div class="desc">
                        <span><h4><%= result.Title %> </h4></span>

                    </div>

                </a>
            </div>
            <% }) %> 
        </div>
    </section>



    <!-- footer  -->
    <footer>
        <div class="footer-container">
            <h3>Forex</h3>
            <p>Your Complete trading Solution</p>
            <div class="social">
                <a href=""> <img src="https://img.icons8.com/glyph-neue/64/26e07f/facebook-circled.png" /></a>
                <a href=""> <img src="https://img.icons8.com/glyph-neue/64/26e07f/instagram-new.png" /></a>
                <a href=""><img src="https://img.icons8.com/glyph-neue/64/26e07f/twitter.png" /></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright © 2022 Forex. All rights reserved</p>
        </div>
    </footer>

</body>

</html>